
{% extends 'DocumentBundle:Templating:widget_acces.html.twig' %}

{% block contenu_widget %}
    <div class="container">
        <div class="row">
            <h1>Widget include</h1>
        </div>
    </div>
{% endblock %}

